APP_ENV=production

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENCRYPTION=smtps

MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=HubShiftManager

MAIL_TO_ADDRESS=
MAIL_TO_NAME=HubShiftManager

MAIL_CC_1=
MAIL_CC_1_NAME=

MAIL_CC_2=
MAIL_CC_2_NAME=

RECAPTCHA_SECRET=